<div class="app-container">
  <mat-toolbar color="primary" class="mat-toolbar">
    <span>{{ title }}</span>
    <!-- <span class="example-fill-remaining-space"></span> -->
    <span>
      <button mat-raised-button color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="push" position="left">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a [routerLink]="['/']" (click)='drawer.toggle()' mat-button color="primary">Scanner</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a [routerLink]="['/menu']" (click)='drawer.toggle()'  mat-button color="primary">Menu</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a [routerLink]="['/kitchen']" (click)='drawer.toggle()'  mat-button color="primary">Kitchen</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="router-div">
        <router-outlet></router-outlet>
      </div>
      <footer color="warn">
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>