.restraunts {
    mat-list {
        mat-list-item {
            a {
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}