mat-selection-list {
    mat-list-option {
        padding: 5px 0px;
        border-bottom: 1px solid #afafaf;
        span {
            margin: 2px;
        }
    }
}
button {
    margin: 5px;
    width: 100%; 
}